asgiref==3.2.7
beautifulsoup4==4.9.0
click==7.1.2
dj-database-url==0.5.0
dj-email-url==1.0.1
dj-search-url==0.1
Django==3.0.5
django-bootstrap3==12.1.0
django-bootstrap4==1.1.1
django-cache-url==3.1.2
django-configurations==2.2
django-crispy-forms==1.9.0
django-dotenv==1.4.2
django-environ==0.4.5
django-fa==1.0.0
django-heroku==0.3.1
django-referrer-policy==1.0
django-sortedm2m==3.0.0
django-widget-tweaks==1.4.8
gunicorn==20.0.4
path==14.0.1
Pillow==9.0.1
psycopg2==2.8.5
python-decouple==3.3
python-dotenv==0.13.0
pytz==2019.3
six==1.15.0
sorl-thumbnail==12.6.3
soupsieve==2.0
South==1.0.2
sqlparse==0.3.1
waitress==1.4.3
whitenoise==5.1.0
