asgiref==3.8.1
beautifulsoup4==4.12.3
crispy-bootstrap5==2024.2
decouple==0.0.7
dj-database-url==2.2.0
Django==4.2.14
django-bootstrap-v5==1.0.11
django-bootstrap4==24.3
django-bootstrap5==24.2
django-configurations==2.5.1
django-crispy-forms==2.3
django-environ==0.11.2
django-heroku==0.3.1
django-sortedm2m==3.1.1
environ==1.0
gunicorn==22.0.0
packaging==24.1
pillow==10.4.0
psycopg2==2.9.9
python-dotenv==1.0.1
setuptools==71.0.4
soupsieve==2.5
sqlparse==0.5.0
typing_extensions==4.12.2
tzdata==2024.1
whitenoise==6.7.0


