{% block sidebar %}
{% load static %}
<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-left ">

<div class="card border-primary mb-3" style="max-width: 20rem; height: 2300px;">


  <img src="{% static 'images/tejas.jpg' %}" class="card-img-top" alt="teja">
  
        <h5 class="card-header">RaviTea Sangeetha</h5>
    <div class="card-body">
        <p class="card-text"> Research Fellow</p>
		<p class="card-text"> Nalsar University</p>
		<p class="card-text"> CONTACT</p>
		<p class="card-text"> 201, Park View Apartments,</p>
		<p class="card-text"> Barkatpura,</p>
		<p class="card-text"> Hyderabad,India</p>
		<p class="card-text"> ravitejasangeetha1976@gmail.com</p>
		<p class="card-text"> + 040 2756 2452(Home)</p>
		<p class="card-text"> + 91 770 292 2023(Mobile)</p>
        <a href="#" class="btn btn-danger">Know more!</a>
    </div>
</div>
</div>

{% endblock sidebar %}

